body{
  background: #ccc
}
#title, .subtitle,  .post_title { /*Ao final da palvra é "," e estava com "." / a ultima palavra não precisa de "," */
  color: blue;
}

.post_title {
  font-size: 16px;
  font-style: italic;
}

.post {
  background: #fff;
  padding: 10px;
}
